/* Task-3 */

#gallery {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
#gallery > li {
  width: 400px;
  margin: 10px;
}
#gallery > li > img {
  width: 100%;
}

/* Task-6 */
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
